{
  "openapi": "3.0.2",
  "info": {
    "title": "Zoonotify Server",
    "description": "This is the api of the Zoonotify server",
    "contact": {
      "email": "zoonotify@bfr.bund.de"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "1.2.0"
  },
  "externalDocs": {
    "description": "Find out more about the Zoonotify",
    "url": "https://zoonotify.bfr.bund.de/content/faq"
  },
  "servers": [
    {
      "url": "https://zoonotify.bfr.bund.de/v1"
    }
  ],
  "tags": [
    {
      "name": "Util",
      "description": "Access to Server Utiliy functions"
    },
    {
      "name": "Isolate",
      "description": "Access to Isolat functions"
    }
  ],
  "paths": {
    "/info": {
      "get": {
        "operationId": "getSystemInfo",
        "tags": ["Util"],
        "summary": "Retrieve server information",
        "description": "Returns current server version number as well as the date of the last server update.",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemInformation"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Standard500ErrorResponse"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AntiBioticResistence": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/AntiBioticResistenceEntry"
        }
      },
      "AntiBioticResistenceEntry": {
        "$ref": "#/components/schemas/AntiBioticResistenceProfile"
      },
      "AntiBioticResistenceProfile": {
        "type": "object",
        "required": ["antibiotic", "cutOff", "active"],
        "properties": {
          "antibiotic": {
            "type": "string"
          },
          "cutOff": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          }
        }
      },
      "FilterArray": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/FilterValues"
        }
      },
      "FilterValues": {
        "type": "string",
        "description": "Includes the appropriate selectable data values",
        "enum": ["alle Werte", "<filter specific values>"],
        "default": "alle Werte"
      },
      "GetIsolatesSuccessResponseData": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/IsolatDTO"
        }
      },
      "IsolatDTO": {
        "type": "object",
        "required": [
          "microbialProfile",
          "federalState",
          "samplingYear",
          "samplingContext",
          "samplingStage",
          "origin",
          "category",
          "productionType",
          "matrix",
          "matrixDetail"
        ],
        "properties": {
          "federalState": {
            "type": "string"
          },
          "samplingYear": {
            "type": "string"
          },
          "samplingStage": {
            "type": "string"
          },
          "samplingContext": {
            "type": "string"
          },
          "origin": {
            "type": "string"
          },
          "matrix": {
            "type": "string"
          },
          "matrixDetail": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "productionType": {
            "type": "string"
          },
          "microbialProfile": {
            "$ref": "#/components/schemas/MicrobialProfile"
          }
        }
      },
      "MicrobialProfile": {
        "type": "object",
        "required": ["microorganism"],
        "properties": {
          "microorganism": {
            "type": "string"
          },
          "species": {
            "type": "string"
          },
          "serovar": {
            "type": "string"
          },
          "serotype": {
            "type": "string"
          },
          "spa_typ": {
            "type": "string"
          },
          "o_group": {
            "type": "string"
          },
          "h_group": {
            "type": "string"
          },
          "stx1": {
            "type": "string"
          },
          "stx2": {
            "type": "string"
          },
          "eae": {
            "type": "string"
          },
          "e_hly": {
            "type": "string"
          },
          "ampc_carba_phenotype": {
            "type": "string"
          },
          "resistanceProfile": {
            "$ref": "#/components/schemas/AntiBioticResistence"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["code", "message"],
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "$ref": "#/components/schemas/ErrorCode"
          }
        }
      },
      "ErrorCode": {
        "type": "number",
        "description": "- 1: Unknown error",
        "enum": [1]
      },
      "SystemInformation": {
        "required": ["lastChange", "version", "supportContact"],
        "type": "object",
        "properties": {
          "version": {
            "type": "string",
            "description": "Server version number"
          },
          "supportContact": {
            "type": "string",
            "description": "Email of the Zoonotify support"
          },
          "lastChange": {
            "type": "string",
            "description": "Date of last code change",
            "format": "date-time"
          }
        }
      },
      "GetDatabaseStatusResponseDTO": {
        "type": "object",
        "required": ["lastUpdate"],
        "properties": {
          "lastUpdate": {
            "type": "string",
            "description": "date of last database update"
          }
        }
      },
      "GetQueryOptionsSuccessResponseData": {
        "type": "object",
        "required": ["queryOptions"],
        "properties": {
          "queryOptions": {
            "$ref": "#/components/schemas/QueryOptionsList"
          }
        }
      },
      "QueryOptionsList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/QueryOptionInformation"
        }
      },
      "QueryOptionInformation": {
        "type": "object",
        "description": "Key for one query option",
        "required": ["id", "values"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique ID of the filter"
          },
          "parent": {
            "type": "string",
            "description": "Id of corresponding mainfilter-IDs"
          },
          "values": {
            "type": "array",
            "description": "List of filter values",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "GetCountedIsolatesSuccessResponseData": {
        "type": "object",
        "required": ["totalCount"],
        "properties": {
          "totalCount": {
            "type": "number"
          },
          "groups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CountGroup"
            }
          }
        }
      },
      "CountGroup": {
        "type": "object",
        "required": ["count"],
        "properties": {
          "count": {
            "type": "number"
          },
          "microorganism": {
            "type": "string"
          },
          "federalState": {
            "type": "string"
          },
          "samplingYear": {
            "type": "string"
          },
          "samplingContext": {
            "type": "string"
          },
          "samplingStage": {
            "type": "string"
          },
          "origin": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "productionType": {
            "type": "string"
          },
          "matrix": {
            "type": "string"
          },
          "abResistance": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "Standard500ErrorResponse": {
        "description": "An unexpected error occured",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Standard400ErrorResponse": {
        "description": "Invalid request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "GetIsolatesSuccessResponse": {
        "description": "Successful Dataset retrieval",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GetIsolatesSuccessResponseData"
            }
          }
        }
      },
      "GetCountedIsolatesSuccessResponse": {
        "description": "Successful Dataset description retrieval",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GetCountedIsolatesSuccessResponseData"
            }
          }
        }
      },
      "GetQueryOptionsSuccessResponse": {
        "description": "Successful query options retrieval",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GetQueryOptionsSuccessResponseData"
            }
          }
        }
      },
      "GetDatabaseStatusSuccessResponse": {
        "description": "Successful Database status retrieval",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GetDatabaseStatusResponseDTO"
            }
          }
        }
      }
    },
    "parameters": {
      "SamplingContextQuery": {
        "name": "sampling-context",
        "in": "query",
        "schema": {
          "$ref": "#/components/schemas/FilterArray"
        }
      },
      "MicroorganismQuery": {
        "name": "microorganism",
        "in": "query",
        "schema": {
          "$ref": "#/components/schemas/FilterArray"
        }
      },
      "MatrixQuery": {
        "name": "matrix",
        "in": "query",
        "schema": {
          "$ref": "#/components/schemas/FilterArray"
        }
      },
      "GroupBySettings": {
        "name": "group-by",
        "in": "query",
        "description": "The applied group by setting",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {}
  }
}
